
body,
td,
th,
tr,
p,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px
}

body {
  padding: 20px;
}

a {
  color: hsl(210, 80%, 45%);
  text-decoration: none;
}

a:focus,
a:hover {
  color: hsl(32, 87%, 55%);
  text-decoration: none;
}

hr {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 1px;
  color: hsl(0, 0%, 20%); /* old IE */
  background-color: hsl(0, 0%, 20%); /* Modern Browsers */
}

li {
  margin: 10px;
}

papertitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700
}

mainauthor {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline; 
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
}


/*Information list as two column flex box*/
.information {
  width: 100%;
  max-width: 800px;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*Background and info*/
.personal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Make a round picture*/
.avatar-pic {
  border-radius: 33%;
  padding: 10%;
  width: 75%;
  max-width: 75%;
}

/*Hide the images when using a phone*/
/*https://stackoverflow.com/a/23946351/3928018*/
@media (max-width: 600px) {
  .image-hidden {
    display: none;
  }
}


/*Articles and talks list as flex boxes*/
.list {
  width:100%;
  max-width:800px;

  margin-right:auto;
  margin-left:auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*padding: 20px;*/
}


/*Each article is a flex box*/
.element {
  width:100%;

  display: flex;

  flex-direction: row;
  align-items: center;

  /*flex-wrap: nowrap;*/

  /*padding: 20px;*/
}


/*Image part in each article*/
.article-img {
  padding: 10px;
  /*flex: [flex-grow] [flex-shrink] [flex-basis];*/
  /*flex: [max] [min] [ideal size];*/
  flex: 0 1 25%;
}

/*Info part in each article*/
.article-info {
  padding: 10px;
  /*flex: [flex-grow] [flex-shrink] [flex-basis];*/
  /*flex: [max] [min] [ideal size];*/
  flex: 0 1 75%;
}

/* Info in each talk item */
.talk-info {
  padding: 15px;
}

.extra-info {
  float: left;
  width: 100%;
}

/*Credits section at the end*/
.credits {
  width:100%;
  max-width:800px;

  display: flex;

  flex-direction: row;
  justify-content: right;

  margin-right:auto;
  margin-left:auto;
}
